/* home.css */

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Overall styling */
body {
    background: #e9ebee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 20%;
    margin: auto;
    padding: 20px;
    height: 10%;
}

/* Title styling */
h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Links styling */
a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


  
a:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin-bottom: 40px;
    }

    a {
        margin: 0 10px;
    }
}
